.toys {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__image {
    width: 100px;
    height: auto;

    @media (min-width: 768px) {
      width: 120px;
    }
  }

  &__title {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
}
