@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/main';
@import 'layout/actions';
@import 'layout/categories';
@import 'layout/listToy';
@import 'layout/finalList';
@import 'layout/footer';

body {
  background-color: #56bfbf;
  //background-image: url('../images/background.jpg');
  background-position: center center;
  box-sizing: border-box;

  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
